              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/android/index.html">
                      Android
                    </a>
                  </li>
                  <li>
                    <a href="/react/index.html">
                      React Native
                    </a>
                  </li>
                  <li>
                    <a href="/read/index.html">
                      reding notes
                    </a>
                  </li>
                  <li>
                    <a href="/archives.html">
                      Archive
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/program/index.html">
                      Software development
                    </a>
                  </li>                  
				          <li>
                    <a href="/linux/index.html">
                      Linux
                    </a>
                  </li>
                  <li>
                    <a href="/web/index.html">
                      Web site
                    </a>
                  </li>
                  <li>
                    <a href="/tags.html">
                      Tags
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
