            <ul class="list-unstyled">
              <li>
                <a href="https://github.com" rel="nofollow">
                  GitHub
                </a>
              </li>
              <li>
                <a href="http://www.manongjc.com" target="_blank" rel="nofollow">
                  Code farmer tutorial
                </a>
              </li>	
              <li>
                <a href="http://www.youth168.com" target="_blank" rel="nofollow">
                  Youth motivational network
                </a>
              </li>
              <li>
                <a href="http://xujinkai.info/" target="_blank" rel="nofollow"> 
                  JK's blog
                </a>
              </li>				  
            </ul>
