            <div class="col-lg-12">
              <ul class="list-unstyled">
              <li>
                <a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=mlv9dicn&productCode=dmspre&utm_source=mlv9dicn" target="_blank" rel="nofollow">
                  Alibaba Cloud Lucky Coupon purchase service, enjoy a lot of benefits!！
                </a>
              </li>
              <li>
                <a href="https://www.namesilo.com/register.php?rid=caa2f82dc" target="_blank"  rel="nofollow">
                  NameSillo buys a domain name and sends privacy protection, not expensive!
                </a>
              </li>	
              <li>
                <a href="https://www.linode.com/?r=6a1d2020e95d84a5d1e6706a659499b1cc0f28bd" target="_blank" rel="nofollow">
                  Linode high-performance VPS, starting from 5$/month, will be opened for 20$.
                </a>
              </li>	
              <li>
                <a href="https://bwh1.net/aff.php?aff=16961" target="_blank" rel="nofollow">
                  Bawah VPS with ss, starting at 2.99$/month or 19.9$/year.
                </a>
              </li>	
              <li>
                <a href="http://www.vultr.com/?ref=6879661" target="_blank" rel="nofollow">
                  VPS rookie Vultr, starting from 2.5$/month, is worth a try!
                </a>
              </li>			
            </ul>
          </div>
